#ed-project-15-title:after {
  content: "Pantau Bresama";
}

#ed-project-15-about:after {
  content: "An information sharing app related to 2019 elections in Indonesia.";
}

.ed-project-15-img-1 {
  content: url("../../../assets/images/pb_1.png");
}

.ed-project-15-img-2 {
  content: url("../../../assets/images/pb_2.png");
}

.ed-project-15-img-3 {
  content: url("../../../assets/images/pb_3.png");
}