#ed-project-1-title:after {
  content: "Sari Roti Brand Activation";
}

#ed-project-1-about:after {
  content: "Creating an Interactive webapp that would be used by Sari Roti to support their brand activation events.";
}

#ed-project-1-task-1:after {
  content: "A quiz that may serve as a kind of customers behaviour research. This way Sari Roti get a two-fold benefit. The first benefit is free penetration of their campaign on social media (by the quiz partisipants) and the data mined from the quiz.";
}

.ed-project-1-img-1 {
  content: url("../../../assets/images/sari_roti_activation_1.png");
}