#ed-project-2-title:after {
  content: "OpenDaylight SDN Android App";
}

#ed-project-2-about:after {
  content: "OpenDaylight SDN App is an application that control and monitor Software-Defined Network devices. This project is submitted for Undergraduate Thesis.";
}

#ed-project-2-task-1:after {
  content: "Using Raspberry Pi to build a network topology and act as SDN Controllers.";
}

#ed-project-2-task-2:after {
  content: "Using OpenDaylight API to establish communication between app and network devices.";
}

#ed-project-2-techstack-1:after {
  content: "Android";
}

#ed-project-2-techstack-2:after {
  content: "Kotlin";
}

#ed-project-2-techstack-3:after {
  content: "XML";
}

#ed-project-2-techstack-4:after {
  content: "OpednDaylight";
}

#ed-project-2-techstack-5:after {
  content: "SDN";
}

#ed-project-2-techstack-6:after {
  content: "Raspberry Pi";
}

.ed-project-2-img-1 {
  content: url("../../../assets/images/odl_1.png");
}

.ed-project-2-img-2 {
  content: url("../../../assets/images/odl_2.png");
}

.ed-project-2-img-3 {
  content: url("../../../assets/images/odl_3.png");
}
  