#ed-project-12-title:after {
  content: "Opinium Android App";
}

#ed-project-12-about:after {
  content: "Opinium is a community-based application that provides an alternative for information curation by bringing up new patrons, namely those whose discussion content and opinions are most beneficial in the virtual sphere.";
}

#ed-project-12-task-1:after {
  content: "Responsible for full Android app life-cycle: concept, design, build, test, deploy, and release to the Android Play Store.";
}

#ed-project-12-task-2:after {
  content: "Implementing RESTful API from the server and rendering the data.";
}

#ed-project-12-techstack-1:after {
  content: "Android";
}

#ed-project-12-techstack-2:after {
  content: "Kotlin";
}

#ed-project-12-techstack-3:after {
  content: "XML";
}

#ed-project-12-techstack-4:after {
  content: "Firebase";
}

.ed-project-12-img-1 {
  content: url("../../../assets/images/opinium_1.png");
}

.ed-project-12-img-2 {
  content: url("../../../assets/images/opinium_2.png");
}

.ed-project-12-img-3 {
  content: url("../../../assets/images/opinium_3.png");
}

.ed-project-12-img-4 {
  content: url("../../../assets/images/opinium_4.png");
}
  