#ed-project-7-title:after {
  content: "SIPMI";
}

#ed-project-7-about:after {
  content: "an information system for Indonesian migrants that help bridging communication between Indonesian government and their migrant citizen and facilitating Indonesian migrants to communicate with their family and manage their financial income and expenditure and send money to their family easily and securely";
}

.ed-project-7-img-1 {
  content: url("../../../assets/images/sipmi_1.png");
}

.ed-project-7-img-2 {
  content: url("../../../assets/images/sipmi_2.png");
}

.ed-project-7-img-3 {
  content: url("../../../assets/images/sipmi_3.png");
}