#ed-project-20-title:after {
  content: "Symbolic ID";
}

#ed-project-20-about:after {
  content: "A knowledge sharing & acquisition platform, facilitating everyone to take a self-growth journey and access information directly from experts.";
}

.ed-project-20-img-1 {
  content: url("../../../assets/images/symbolic_1.png");
}