#ed-project-2-title:after {
  content: "Sari Roti Company Profile";
}

#ed-project-2-about:after {
  content: "Creating an official company porfile full site for PT Nippon Indosari Corpindo Tbk.";
}

#ed-project-2-task-1:after {
  content: "Build a promotional landing page that outlines how Sari Roti is suitable for Indonesian families and present their products as a part of daily need.";
}

.ed-project-2-img-1 {
  content: url("../../../assets/images/sari_roti_compro_1.png");
}