#ed-project-18-title:after {
  content: "Bisabebas Cross-Platform App";
}

#ed-project-18-about:after {
  content: "Bisabebas is an online ordering platform for retailers to buy day-to-day inventory for their shops.";
}

#ed-project-18-task-1:after {
  content: "Responsible for full Flutter app life-cycle: concept, design, build, test, deploy, and release to Android Play Store, and iOS App Store.";
}

#ed-project-18-task-2:after {
  content: "Implementing RESTful API from the server and rendering the data.";
}

#ed-project-18-task-3:after {
  content: "Developing various niche features such as Marketplace, PPOB, Digital Wallet, Online Payment, and Financial Loan System.";
}

#ed-project-18-techstack-1:after {
  content: "Flutter";
}

#ed-project-18-techstack-2:after {
  content: "Dart";
}

#ed-project-18-techstack-3:after {
  content: "Firebase";
}

.ed-project-18-img-1 {
  content: url("../../../assets/images/bb_1.jpeg");
}

.ed-project-18-img-2 {
  content: url("../../../assets/images/bb_2.jpeg");
}

.ed-project-18-img-3 {
  content: url("../../../assets/images/bb_3.jpeg");
}

.ed-project-18-img-4 {
  content: url("../../../assets/images/bb_4.jpeg");
}
  