#ed-project-4-title:after {
  content: "Nu Green Tea";
}

#ed-project-4-about:after {
  content: "Creating an Interactive webapp that would be used by Nu Green Tea to support their brand activation events.";
}

#ed-project-4-task-1:after {
  content: "Provided them with a quiz that challenges the customers to create best design for Nu Green Tea new packaging. This way they could get new attention from both their existing customers and prospects.";
}

.ed-project-4-img-1 {
  content: url("../../../assets/images/nu_activation_1.png");
}