#ed-project-6-title:after {
  content: "Sistem Informasi PKB";
}

#ed-project-6-about:after {
  content: "Developing an information system to digitalize and streamline day-to-day business process of political parties in Indonesia, from administrative, database integration, to analytics.";
}

.ed-project-6-img-1 {
  content: url("../../../assets/images/sipmi_1.png");
}

.ed-project-6-img-2 {
  content: url("../../../assets/images/sipmi_2.png");
}

.ed-project-6-img-3 {
  content: url("../../../assets/images/sipmi_3.png");
}