#ed-project-4-title:after {
  content: "Qasir POS Android App";
}

#ed-project-4-about:after {
  content: "Qasir is point of sales application and business management platform built to help seller achieve their goals.";
}

#ed-project-4-task-1:after {
  content: "Developing Detail Invoice Page & Custom In-App Keyboard.";
}

#ed-project-4-task-2:after {
  content: "Implementing RESTful API from the server and rendering the data.";
}

#ed-project-4-techstack-1:after {
  content: "Android";
}

#ed-project-4-techstack-2:after {
  content: "Kotlin";
}

#ed-project-4-techstack-3:after {
  content: "XML";
}

.ed-project-4-img-1 {
  content: url("../../../assets/images/qasir_1.png");
}

.ed-project-4-img-2 {
  content: url("../../../assets/images/qasir_2.png");
}
  