#ed-project-18-title:after {
  content: "Endgraf";
}

#ed-project-18-about:after {
  content: "A business analytics and intelligence platform, helping to gather and analyze data from various sectors within the organization to be consolidated in one analytical dashboard.";
}

.ed-project-18-img-1 {
  content: url("../../../assets/images/endgraf_1.png");
}