#ed-project-15-title:after {
  content: "Pantau Bersama Android App";
}

#ed-project-15-about:after {
  content: "Pantau Bersama is an application that shows various information related to the Pemilu 2019 (Indonesia General Election 2019).";
}

#ed-project-15-task-1:after {
  content: "Responsible for full Android app life-cycle: concept, design, build, test, deploy, and release to the Android Play Store.";
}

#ed-project-15-task-2:after {
  content: "Developing Real-Time ballot vote counter using Firebase Real-Time Database.";
}

#ed-project-15-task-3:after {
  content: "Developing WordStadium: an online interactive chat debate with audiences.";
}

#ed-project-15-task-4:after {
  content: "Implementing RESTful API from the server and rendering the data.";
}

#ed-project-15-techstack-1:after {
  content: "Android";
}

#ed-project-15-techstack-2:after {
  content: "Kotlin";
}

#ed-project-15-techstack-3:after {
  content: "XML";
}

#ed-project-15-techstack-4:after {
  content: "Firebase";
}

.ed-project-15-img-1 {
  content: url("../../../assets/images/pb_1.png");
}

.ed-project-15-img-2 {
  content: url("../../../assets/images/pb_2.png");
}

.ed-project-15-img-3 {
  content: url("../../../assets/images/pb_3.png");
}
  