#ed-project-12-title:after {
  content: "Opinium Android App";
}

#ed-project-12-about:after {
  content: "A community-based information curation, helping public to easily obtain more reliable information related to political and social issues during 2019 in Indonesia.";
}

.ed-project-12-img-1 {
  content: url("../../../assets/images/opinium_1.png");
}

.ed-project-12-img-2 {
  content: url("../../../assets/images/opinium_2.png");
}

.ed-project-12-img-3 {
  content: url("../../../assets/images/opinium_3.png");
}

.ed-project-12-img-4 {
  content: url("../../../assets/images/opinium_4.png");
}