#ed-project-3-title:after {
  content: "Oosaha POS Android App";
}

#ed-project-3-about:after {
  content: "Oosaha is point of sales application.";
}

#ed-project-3-task-1:after {
  content: "Responsible for full Android app life-cycle: concept, design, build, test, deploy, and release to the Android Play Store.";
}

#ed-project-3-task-2:after {
  content: "Implementing RESTful API from server and render the data.";
}

#ed-project-3-techstack-1:after {
  content: "Android";
}

#ed-project-3-techstack-2:after {
  content: "Kotlin";
}

#ed-project-3-techstack-3:after {
  content: "XML";
}

#ed-project-3-techstack-4:after {
  content: "Firebase";
}

.ed-project-3-img-1 {
  content: url("../../../assets/images/oosaha_1.png");
}

.ed-project-3-img-2 {
  content: url("../../../assets/images/oosaha_2.png");
}