#ed-project-3-title:after {
  content: "PT ABC President Company Profile";
}

#ed-project-3-about:after {
  content: "Creating an official company profile full site for PT ABC President.";
}

#ed-project-3-task-1:after {
  content: "Consulting and Planning Website Strategy";
}

.ed-project-3-img-1 {
  content: url("../../../assets/images/abc_activation_1.png");
}

.ed-project-3-img-2 {
  content: url("../../../assets/images/abc_activation_2.png");
}

.ed-project-3-img-3 {
  content: url("../../../assets/images/abc_activation_3.png");
}

.ed-project-3-img-4 {
  content: url("../../../assets/images/abc_activation_4.png");
}

.ed-project-3-img-5 {
  content: url("../../../assets/images/abc_activation_5.png");
}