#ed-project-19-title:after {
  content: "Kalkula";
}

#ed-project-19-about:after {
  content: "An end-to-end data processing solution, helping business to easily integrate their fragmented data and process it efficiently.";
}

.ed-project-19-img-1 {
  content: url("../../../assets/images/kalkula_1.png");
}