#ed-contact-details:after {
  content: "Contact Details";
}

#ed-phone-title:after {
  content: "Phone / WhatsApp";
}

#ed-phone-content:after {
  content: "+62812 4600 9227";
}

#ed-email-title:after {
  content: "E-mail";
}

#ed-email-content:after {
  content: "penyamae@gmail.com";
}

#ed-location-title:after {
  content: "Location";
}

#ed-location-content:after {
  content: "Yogyakarta, Indonesia";
}