#ed-education-title:after {
  content: "Education";
}

#ed-university:after {
  content: "Sanata Dharma University";
}

#ed-university-year:after {
  content: "2003-2007";
}

#ed-university-major:after {
  content: "English Language and Literature - Bachelor's degree";
}

#ed-shs:after {
  content: "SMA Negeri 9 Yogyakarta";
}

#ed-shs-year:after {
  content: "";
}

#ed-:after {
  content: "";
}