#ed-skills-title:after {
    content: "Skills";
}

#ed-skills-1:after {
    content: "";
}

#ed-skills-2:after {
    content: "Flutter";
}

#ed-skills-3:after {
    content: "Dart";
}

#ed-skills-4:after {
    content: "Couchbase";
}

#ed-skills-5:after {
    content: "Android";
}

#ed-skills-6:after {
    content: "Kotlin";
}

#ed-skills-7:after {
    content: "Java";
}

#ed-skills-8:after {
    content: "XML";
}

#ed-skills-9:after {
    content: "Python";
}

#ed-skills-10:after {
    content: "SDN";
}

#ed-skills-11:after {
    content: "MikroTik Basic";
}

#ed-skills-12:after {
    content: "iOS";
}

#ed-skills-13:after {
    content: "Swift";
}

#ed-skills-14:after {
    content: "Obj-C";
}

#ed-skills-15:after {
    content: "ReactJS";
}

#ed-skills-16:after {
    content: "NextJS";
}

#ed-skills-17:after {
    content: "TailwindCSS";
}

#ed-skills-18:after {
    content: "Unity Engine";
}

#ed-skills-19:after {
    content: "C#";
}

#ed-skills-20:after {
    content: "Raspberry Pi";
}

#ed-skills-21:after {
    content: "Cisco Basic";
}