#ed-work-exp-title:after {
  content: "Work Experiences";
}

#ed-work-8-role:after {
  content: "Senior Product Manager";
}

#ed-work-8-period:after {
  content: "11/2022 - Present";
}

#ed-work-8-company:after {
  content: "Sadasa Academy";
}

#ed-work-8-summary:after {
  content: "Lead product owners while coordinating with engineering, marketing, sales, and other teams, managing the product and market analysis to develop the product requirements and roadmaps, incorporate feedback from customers into the product strategy, handling the product lifecycle.";
}


#ed-work-7-role:after {
  content: "Product Manager";
}

#ed-work-7-period:after {
  content: "09/2019 - 10/2022";
}

#ed-work-7-company:after {
  content: "Symbolic ID";
}

#ed-work-7-summary:after {
  content: "Conducting concepts brainstorm and discussion with stakeholders to defne the product MVP and iterations, designing and maintaining platform roadmap based on changing priorities and market opportunities, managing prioritization, product defnition, execution, doing research and data analysis to ensure product/market ft, leading the product team.";
}


#ed-work-6-role:after {
  content: "Product Manager";
}

#ed-work-6-period:after {
  content: "04/2020 - 02/2021";
}

#ed-work-6-company:after {
  content: "PT Kedata Indonesia Digital";
}

#ed-work-6-summary:after {
  content: "Translate product strategy into detailed requirements and prototypes, leading the product development planning, overseeing the development Kedata Indonesia's analytic products, addressing any issue occurred during the product development. Working closely with the stakeholders to implement product features and enhancements.";
}


#ed-work-5-role:after {
  content: "Founder";
}

#ed-work-5-period:after {
  content: "02/2018 - 06/2019";
}

#ed-work-5-company:after {
  content: "Cuap.in";
}

#ed-work-5-summary:after {
  content: "Managing team and community, performing research and analysis to develop product, seeking opportunity to monetize the product.";
}


#ed-work-4-role:after {
  content: "Product Owner and Project Manager";
}

#ed-work-4-period:after {
  content: "02/2016 - 08/2019";
}

#ed-work-4-company:after {
  content: "Extra Integer";
}

#ed-work-4-summary:after {
  content: "Managing product devs, being Product owner day to day task, communicating with stakeholder to discuss product requirements, collaborating with ui/ux engineers, analyzing data to defne product/market ft, conducting critical thinking to solve problems, team leading.";
}


#ed-work-3-role:after {
  content: "Editor In Chief";
}

#ed-work-3-period:after {
  content: "02/2013 - 12/2016";
}

#ed-work-3-company:after {
  content: "PeMad International";
}

#ed-work-3-summary:after {
  content: "Setting and maintaining translation, editing, proofng standards, setting effective and productive workfows, working closely with project managers to understand clients' requirements and projects' expectation, supervising inhouse and freelance editors and translators, help with editing tasks.";
}


#ed-work-2-role:after {
  content: "Managing Editor";
}

#ed-work-2-period:after {
  content: "03/2011 - 01/2013";
}

#ed-work-2-company:after {
  content: "Pustaka Pelajar Publishing";
}

#ed-work-2-summary:after {
  content: "Supervise the company’s day to day operations and publishing procedures, develop partnership with publishing houses in foreign countries, supervise writers, publishing leadd, and editorial staffs.";
}


#ed-work-1-role:after {
  content: "Editor";
}

#ed-work-1-period:after {
  content: "09/2007 - 02/2011";
}

#ed-work-1-company:after {
  content: "Pustaka Pelajar Publishing";
}

#ed-work-1-summary:after {
  content: "Ensure accuracy, quality, and delivery of book publications, review and approve proofs and assist managing editor sets editorial standards, policies, and goals, collaborate with writers, illustrators, proofreaders, and designers";
}